/* styles.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .header {
    background-color: #5f3711;
    color: #f7f6e4;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar {
    background-color: #e2d5c1;
    padding: 10px 0;
    width: 100%;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .navbar ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .navbar ul li:last-child {
    margin-right: 0;
  }
  
  .navbar ul li a {
    color: #5f3711;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar ul li a:hover {
    color: #6f4722;
  }
  