{% macro VentasForm(form) %}
    <form id="form-ventas" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.nombreCliente.label }}
            {{ form.nombreCliente(class="form-control") }}
            {% if form.nombreCliente.errors %}
                <ul class="errors">
                    {% for error in form.nombreCliente.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.tipoVenta.label }}
            {{ form.tipoVenta(class="form-control") }}
            {% if form.tipoVenta.errors %}
                <ul class="errors">
                    {% for error in form.tipoVenta.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.cantidad.label }}
            {{ form.cantidad(class="form-control") }}
            {% if form.cantidad.errors %}
                <ul class="errors">
                    {% for error in form.cantidad.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.tipoGalleta.label }}
            {{ form.tipoGalleta(class="form-control") }}
            {% if form.tipoGalleta.errors %}
                <ul class="errors">
                    {% for error in form.tipoGalleta.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
{% endmacro %}
