

<script>
    // Función para calcular el total
    function calcularTotal() {
        // Obtener el valor del tipo, la cantidad y la galleta
        var tipo = document.getElementById('tipo').value;
        var cantidad = document.getElementById('cantidad').value;
        var galleta = document.getElementById('galleta').value;

        // Calcular el costo de la venta
        var total;
        if (tipo === 'Unidad') {
            total = cantidad * 10;
        } else if (tipo === 'Gramos') {
            total = cantidad * 0.1;
        } else if (tipo === 'Dinero') {
            total = cantidad;
        } else if (tipo === 'Caja') {
            total = cantidad * 100;
        }
        // Actualizar el valor del campo total en el formulario
        document.getElementById('total').value = total.toFixed(2);  // Ajusta el formato según sea necesario
    }
    function mostrarImagen() {
        var seleccion = document.getElementById("galleta").value;
        var imagen = document.getElementById("imagenGalleta");

        // Cambiar la fuente de la imagen según la opción seleccionada
        if (seleccion === "galleta1") {
            imagen.src = "/ruta/a/imagen1.jpg";
        } else if (seleccion === "galleta2") {
            imagen.src = "/ruta/a/imagen2.jpg";
        } else if (seleccion === "galleta3") {
            imagen.src = "/ruta/a/imagen3.jpg";
        }
        // Agrega más condiciones según sea necesario para cada opción de galleta
    }

    // Llama a la función mostrarImagen() cuando se cambia la opción en el menú desplegable
    document.getElementById("galleta").addEventListener("change", mostrarImagen);
</script>

{% extends "layout2.html" %}
{% block container %}
{% import "_macros.html" as macros %}

<div class="container" >
    <div class="row">
        <center>
            <div style="margin-top: 20px;">
                <h4> Ventas </h4>
            </div>
        </center>
        <form name="sent"  id="contactForm" method="POST">
            <div class="row control-group">        
            <center>
            <div class="container-form">       
                <div class="row control-group" method="POST" style="margin-top: 10px;" novalidate>
                    <center>
                    <div  class="col-xs-6 col-sm-6">
                    <div class="form-groupform-group col-xs-6 col-sm-6 floating-label-form-group ontrols">
                            {{ form.galleta.label(class="control-label") }}
                        <select id="galleta" name="galleta" class="form-control" onchange="calcularTotal()">
                            {% for opcion in form.galleta.choices %}
                                <option value="{{ opcion[0] }}">{{ opcion[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-groupform-group col-xs-6 col-sm-6 floating-label-form-group ontrols" style="margin-top: 15px;">
                        <label>Tipo de compra</label>
                        <select name="tipo" id="tipo" onchange="calcularTotal()" class="form-select" aria-label="Default select example">
                                        <option value="Unidad">Unidad</option>
                                        <option value="Gramos">Peso por gramos</option>
                                        <option value="Dinero">Peso por dinero</option>
                                        <option value="Caja">Caja</option>
                                    </select>
                    </div>
                
                
                    <div class="form-group form-group col-xs-12 col-sm-6 floating-label-form-group controls" style="margin-top: 15px;">
                        <label>Cantidad</label>
                        <input id="cantidad" type="number" name="cantidad" class="form-control" onchange="calcularTotal()">
                    </div>
                    <div class="form-group form-group col-xs-12 col-sm-6 floating-label-form-group controls" style="margin-top: 15px;">
                        <label>Subtotal</label>
                        <input id="total" type="number" name="total" class="form-control" readonly>
                    </div>
                </div></center>
                
                    <div class="row control- group col-xs-12 col-sm-12" method="POST" novalidate style="margin-top: 15px;">
                        <center>
                            <button type="submit" id="send-signup" name="signup" value="Registrar" class="btn btn-outline-secondary">Guardar</button>
                            </center>
                    </div>
                   
                   
    
        </form>
    </div></center>
    </div>
</div>
{%endblock%}
