<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Recetas de Galletas</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="../../static/css/header.css">

<style>
	body {
	background-color: #f7f6e4;
	}
	.card {
	background-color: #e2d5c1;
	margin-bottom: 20px;
	}
	.card-title {
	color: #5f3711;
	}
	.card-body {
	color: #5f3711;
	}
    .container-titulo{
		position: relative;
	}
	.container-titulo img{
		position: absolute;
		left: 0;
		top: 20px;
        max-width: 40px;
	}
</style>
</head>
<body>
    <header class="header">
        <div class="navbar">
          <ul>
            <li><a href="{{ url_for('dashbord') }}">Dashboard</a></li>
            <li><a href="{{ url_for('produccion') }}">Producción</a></li>
            <li><a href="{{ url_for('recetas') }}">Recetas</a></li>
            <li><a href="{{ url_for('venta') }}">Ventas</a></li>
          </ul>
        </div>
        <div class="cerrar">
            <a href="{{ url_for('vistaLogin') }}">
                <button class="btn btn-primary" style="background: black;color: white; border: none;">Cerrar sesion</button>
            </a>
        </div>
  </header>
	<div class="container-detalle-tabla">
        <table class="table">
            <thead>
                <tr>
                    <th>Cantidad</th>
                    <th>Ingrediente</th>
                    <th>Material</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for detalle in detalles %}
                <tr>
                    <td>{{ detalle.cantidad }}</td>
                    <td>{{ detalle.ingrediente }}</td>
                    <td>{{ detalle.material }}</td>
                    <td>
                        <form method="POST" action="{{ url_for('eliminar_ingrediente', detalle_id=detalle.id) }}">
                            <input type="hidden" name="detalle_id" value="{{ detalle.id }}">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>                            
                    </td>
                </tr>
                {% endfor %}
            
            </tbody>
        </table>
        <div class="agregar">
            <div class="agregar-contenido">
                <form action="{{ url_for('agregar_ingrediente') }}" method="POST">
                    <input type="hidden" name="iReceta" value="{{ iReceta }}">
                    <div class="input">
                        <label for="gramos">Cantidad:</label>
                        <input type="number" id="gramos" name="gramos" min="0" step="0.01" required>
                    </div>
                    <div class="input">
                        <label for="ingrediente">Ingrediente:</label>
                        <input type="text" name="ingrediente">
                    </div>
                    <div class="input">
                        <label for="material">Material:</label>
                        <select name="material" id="material">
                            <option value="mililitros">mililitros</option>
                            <option value="gramos">gramos</option>
                        </select>
                    </div>
                    <button type="submit">Agregar</button>
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>
