{% extends 'layout.html' %}

{% block container %}
  
<link rel="stylesheet" href="../../static/produccionStyle/produccion.css">
<link rel="stylesheet" href="../../static/css/header.css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

  <div class="container">
    <h1>Solicitud de Producción</h1>
    <form action="/guardarProduccion" method="POST" id="produccion-form">
      <div class="col-md-6 mx-auto">
      <select class="custom-select" name="Receta" id="slctReceta">
        {% for receta in optRecetas %}
            {% if receta.nombreGalleta == "Galleta Chocolate" %}
            <option value="{{receta.nombreGalleta}}" selected>{{ receta.nombreGalleta }}</option>
            {% else %}
            <option value="{{receta.nombreGalleta}}" >{{ receta.nombreGalleta }}</option>
            {% endif %}
        {% endfor %}
      </div>

      </select>
      
      <br>

      <button class="btn btn-success" type="submit" name="Solicitar" style="margin-left: 40%; margin-top: 30px;">Solicitar</button>
</form>
</div>

<br>



<table class="table">
    <thead>
        <tr>
            <th>ID de Producción</th>
            <th>Estado</th>
            <th>Fecha de Solicitud</th>
        </tr>
    </thead>
    <tbody>
        {% for produccion in solicitudes %}
        <tr>
            <td>{{ produccion.idProduccion }}</td>
            <td>{{ produccion.Estatus }}</td>
            <td>{{ produccion.fechaSolicitud }}</td>
            <td><button class="btn btn-danger" 
              id="btn-cancelar-{{produccion.idProduccion}}"
                data-id="{{produccion.idProduccion}}">Cancelar</button></td>
          </tr>
        {% endfor %}
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('button[id^="btn-cancelar"]').click(function() {
            var idProduccion = $(this).data('id');
            $.post('/cancelarSolicitud', { idProduccion: idProduccion }, function(data) {
                console.log(data);
                
                window.location.reload('/produccion');
            });
        });
    });
    
</script>  


{% endblock %}
