<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 - Página no encontrada</title>
    <link rel="stylesheet" href="../static/Styles/404.css"> 
    <script src="../static/scripts.js"></script>
</head>
<body>
    <div class="fondo">
        <div class="error-container">
            <h1>Error 404 - Página no encontrada</h1>
            <p>Lo sentimos, la página que estás buscando no existe.</p>
        </div>
        <div id="galletas-container"></div>
    </div>
    </div>
    
</body>
</html>
