#tabla-inv th {
    background-color: brown; 
    color: #ffffff; 
    border-radius: 10px;
}

#tabla-rep th {
    background-color: brown; 
    color: #ffffff; 
    border-radius: 10px;
    text-decoration: none;
    cursor: default;
}
#tabla-rep td {
    text-decoration: none;
    cursor: default;
}

#btnEliminar{
    background-color: rgb(193, 29, 29);
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

#btnEliminar:hover{
    background-color: rgb(255, 33, 33);
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}


#btnModificar{
    background-color: rgb(0, 118, 182);
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

#btnModificar:hover{
    background-color: rgb(73, 185, 255);
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.container-form {
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.btn-reg{
    border-radius: 8px;
    border: none;
    padding: 7px 12px;
    background-color: brown;
    color:  white;
}

.btn-reg:hover{
    border-radius: 8px;
    border: none;
    padding: 7px 12px;
    background-color: rgb(179, 89, 89);
    color:  white;
    transform: scale(1.1);
}

.tabla-scroll {
    max-height: 300px; /* Altura máxima deseada para el tbody */
    overflow-y: auto; /* Agrega un desplazamiento vertical si el contenido de tbody es más alto que el contenedor */
    position: relative;
}

.tabla-scroll table {
    width: 100%;
    border-collapse: collapse;
}

.tabla-scroll thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white; /* Ajusta el color de fondo de los encabezados según sea necesario */
}

.tabla-scroll th,
.tabla-scroll td {
    padding: 8px;
    border: 1px solid #ddd; /* Ajusta el estilo de borde según sea necesario */
}


#form-modif label {
    color: white; /* Cambia el color del texto a blanco */
    font-size: large;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}